* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(to bottom, #ee9ca7, #ffdde1);
}

.container {
    background: #fff;
    width: 500px;
    margin: 120px auto;
    border-radius: 5px;
    overflow: hidden;
}

form {
    border-bottom: 1px solid #666;
    padding: 8px 12px;
}

input {
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 8px 12px;
    width: 408px;
}

button {
    background: #a95962;
    color: #fff;
    border-radius: 5px;
    width: 50px;
    padding: 8px 0;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

li {
    padding: 12px 0 12px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

li > i {
    cursor: pointer;
    padding: 8px 30px;
}

li.completed {
    color: #aaa;
}

li.completed > span {
    text-decoration: line-through;
}

